.section {
    margin: 3rem 3rem;
    padding: 2rem;
    border: 2px solid black;
}

.header {
    font-size: 18px;
    font-style: italic;
    font-weight: 800;
}

.paragraph {
    margin: 2rem 0;
    text-align: justify;
}